.contact-container{
  display: flex;
  flex-direction: column;
  margin: auto;
} 

div.mb-3{
  width: 100%;
}
form{
  margin: auto;
  width: 40%;
  font-family: 'Heebo', sans-serif;
  color:#E0E1DD;
}
.btn-container{
  margin: auto;
  display: flex;
  justify-content: center;
} 

.button{
  justify-content: center;
}