.resume-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
h3{
    font-family: 'Heebo', sans-serif;
}
.front-end{
    font-family: 'Heebo', sans-serif;
    color:#E0E1DD;
    font-size: 20px;
    width: 50%;
    text-align:left;
}
.back-end{
    font-family: 'Heebo', sans-serif;
    color:#E0E1DD;
    font-size: 20px;
    width: 50%;

}
a.resume-btn{
    margin: auto;
    cursor: pointer;
    align-self: flex-end;
}
