.resume-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h3{
    font-family: 'Heebo', sans-serif;
}
.front-end{
    font-family: 'Heebo', sans-serif;
    color:#E0E1DD;
    font-size: 20px;
    width: 50%;
}
.back-end{
    font-family: 'Heebo', sans-serif;
    color:#E0E1DD;
    font-size: 20px;
    width: 50%;

}
.resume-btn{
    margin: auto;
    cursor: pointer;
}
